$black: #000000;
$white: #FFFFFF;
$grey-1: #786C70;
$grey-2: #7F7478;
$grey-3: #C2BDBF;
$grey-4: #D8D5D6;
$brown-1: #5A4037;
$brown-2: #9B6D5C;
$brown-3: #A48B82;
$light-brown-1: #9A4B23;
$light-brown-2: #CC632E;
$light-brown-3: #D38761;
$orange-1: #D99859;
$orange-2: #FFB268;
$orange-3: #FFCA96;
$yellow-1: #F8D357;
$yellow-2: #FFE58D;

$title-font: "Roboto Regular", sans-serif;
$subtitle-font: "Roboto Light", sans-serif;
$text-font: "Inconsolata Regular", sans-serif;